@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    background-image: url('img/Header-Background.png');
    background-position: center;
    background-size: cover;
}

#header-content {
    display: flex;
    flex-direction: column;
    padding: 72px 24px;
    align-items: left;
    gap: 24px;
    justify-content: center;
}

#header-content p,
#header-content h1 {
    color: #FFFFFF;
}

h1, h2, p, button {
    color: #23272A;
}

h1, h2 {
    font-weight: 400;
}

h2, p, button {
font-family: 'Open Sans', sans-serif;
}

p, button {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

h1 {
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 54px;
    text-align: left;
}

button {
    border-radius: 28px;
    border-width: 0;
    text-align: center;
    padding: 16px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#buttons #button-browser {
    background-color: #23272A;
    color: #FFFFFF;
}

#section-1,
#section-2,
#section-3,
#section-4 {
    display: flex;
    flex-direction: column;
    padding: 40px 24px;
    justify-content: center;
    align-items: left;
    gap: 27px;
}

#section-2, #section-4 {
    background-color: #F6F6F6;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer {
    background-color: #23272A;
    padding: 40px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #discord-logo {
    width: 162px;
}

@media screen and (min-width: 800px) {
    * {
        max-width: 1200px;
        margin: 0 auto;
    }

    img {
        max-width: 62.5%;
    }

    h1 {
        font-size: 56px;
        line-height: 56px;
    }

    h2 {
        font-size: 40px;
        line-height: 54px;
    }

    #header-content {
        padding: 96px 240px;
        align-items: center;
    }

    #header-content h1,
    #header-content p,
    #section-4 h1,
    #section-4 p {
        text-align: center;
    }

    #buttons {
        display: flex;
        flex-direction: row;
    }

    #section-1,
    #section-2,
    #section-3,
    #section-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 104px;
        gap: 24px;
    }

    #section-1,
    #section-3 {
        flex-direction: row;
    }

    #section-2 {
        flex-direction: row-reverse;
    }

    #section-4 {
        flex-direction: column;
    }

    footer #discord-logo {
        width: 230px;
    }
}